body { 
	margin: 0px; 
	padding: 0px; 
	background: #fff;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
}

h2 { 
	font-size: 18pt;
	margin: 3em 0 0 0;
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}

h3 { 
	font-size: 14pt;
	margin: 2em 0 0 0;
	padding: 0;
}

h4 { 
	font-size: 12pt;
	margin: 1em 0 0 0;
	padding: 0;
}


img { 
	border: 0px solid white; 
}

a { 
	color: #4183C4; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}


.entity a {
	color: #d0d0d0;
}

.entity a:hover {
	color: #4183C4;
}


#header { 
	background: #fefefe;
	margin: 0; 
	padding: .5em .5em 0 .5em;
	text-align: center;
}

#menu {
	text-align: right;
	font-size: 10pt;
}

#main { 
	padding: 0 0 0 0; 
	text-align: left;
	margin: 1em 3em 1em 3em;
}

#eui-schema {
	font-size: 80%;
	padding: 0; 
	text-align: left;
	margin: 4em;
}

#eui-schema-details {
	display: none;
	padding: 1em;
}

#show-eui-schema-details {
	cursor: pointer;
	color: #4183C4; 
}

#about { 
	background: #fff;
	padding: 0 0 0 0; 
	text-align: justify;
	margin: 1em 8em 1em 8em;
}

#footer {
	display: block;
	position: static;
	padding: 6em 0 0 0;
	clear: both;
	font-size: 8pt;
	text-align: center;
	color: #aaa;
}

.entity {
	cursor: pointer;
	font-size: 8pt;
	margin: 0 .3em 0 .3em;
	padding: 0 .3em 0 .3em;
	color: #d0d0d0;
	border: 1px solid #d0d0d0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.entity-hover {
	color: #000;
	border: 1px solid #000;
}


.hidden-meta {
	display: none;
}

.homepage {
	font-size: 80%;
	margin: 0 0 0 .4em;
}

.site-title {
	font-size: 32pt;
	text-align: center;
	margin: 1em;
	text-shadow: 0 1px 0 #aaa;
}

.toc {
	font-size: 12pt;
	text-align: center;
	margin: 1em;
}

.l1 {
	padding-left: 1em;
	margin-top: 1em;
	border-top: 1px solid #eee;
}

.l1 > span {
	font-weight: bold;
}

.l2 {
	padding-left: 1em;
	margin-top: 1em;
}

.l3 {
	font-style: italic;
	padding-left: 1em;
	margin-top: 1em;
}